<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <div>
            <a href="{{ url_for('home') }}">Home</a> --
            <a href="{{ url_for('update') }}">Update All Stores</a> --
            <a href="{{ url_for('pick_list') }}">Pick List</a> --
            <a href="{{ url_for('amazon') }}">Amazon</a> --
            <a href="{{ url_for('ebay') }}">eBay</a> --
            <a href="{{ url_for('prem_shirts') }}">Premier Shirts</a> --
            <a href="{{ url_for('nsotd') }}">New Shirt of the Day</a> --
            <a href="{{ url_for('buckeroo') }}">Buckeroo</a> --
            <a href="{{ url_for('notes') }}">Notes</a>
        </div>

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        
        <ul>  <!-- <ul class=flashes> -->
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}

        {% endblock %}
    </body>
</html>