{% extends "base.html" %}

{% block content %}
    {% for item in pick_list %}
        {% set style = item.split('?')[0] %}
        {% set sizes = item.split('?')[1] %}
        
        <div class="container" style = "height: 25px;">
            <div class="row h-25">
                <div class="col-md-4">
                    {{ style }}
                </div>
                <div class="col-md-4">
                    {{ sizes }}
                </div>
            </div>
        <hr style="width: 100%; color: black; height: 1px; background-color:&9B9999;"/>
        </div>
    {% endfor %}
{% endblock %}
